{% extends "base.html" %}
{% block title %}Лекции{% endblock %}
{% block h1_header %}lectures{% endblock %}
{% block aside %}
    <aside>
        <p class="aside-header">Содержимое</p>
        <ol>
        {% for lec in lecs %}
            <li><a href="#{{ lec.slug }}">{{ lec.title }}</a></li>
        {% endfor %}
        </ol>
    </aside>
{% endblock %}
{% block content %}
    <article><ol>
    {% for lec in lecs %}
        <section>
            <h2 class="first last" id="{{ lec.slug }}"><li><a href="{{ lec.get_absolute_url }}">{{ lec.title }}</a></li></h2>
            <p>{{ lec.desc }}</p>
        </section>
    {% endfor %}
    </ol></article>
{% endblock %}
